#content {
  width: calc(100% - 220px);
  padding: 10px 40px 20px 40px !important;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(^assets/img/background.jpg) !important;
}

#content.active {
  width: 100%;
}
