<div id="page-loading" [hidden]="!loading" class="ng-hide">
  <div class="loader">
    <img src="/../assets/img/giphy.gif" width="100" height="100" style="padding: 0">
  </div>
</div>
<div class="col-sm-12 header-board">
<form #supportFrom="ngForm" (ngSubmit)="submitSupport(supportFrom.value)">
    <div class="row">
        <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Email-Id</label>
                            <input type="text" class="form-control " ng-model name="email" placeholder="support@rvcabs.com" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label>Subject</label>
                          <input type="text" class="form-control" ng-model name="subject">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label>Message</label>
                          <textarea class="form-control" row="8" cols="50" ng-model name="message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  mt-20">
                    <div class="card ml-2 mb-2 mr-2" style="background: none;">
                      <div class="card-body">
                        <div class="text-center" style="border-bottom:1px solid #8f9294">
                          <h5> <i class="fa fa-envelope"></i> Support Email</h5>
                          <p class="mt-2" style="font-weight:600">&nbsp;<a href="mailto:support@rvcabs.com" style="color:#fab700">support@rvcabs.com</a></p>
                        </div>
                        <div class="text-center mt-3">
                          <h5><i class="fa fa-phone-square"></i> Call Us</h5>
                          <p class="mt-2" style="font-weight:600;">&nbsp; <a href="tel: 8880855551" style="color:#fab700">+91-88808 55551</a></p>
                        </div>
                      </div>
                    </div>
                </div>
           
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <button type="submit" class="btn btn-success btn-sm">Send <i class="fas fa-share"></i></button>
        </div>
    </div>
</form>
</div>
