<section id="terms">
  <div class="container">
    <div id="main" class="description-format">
      <br>
      <div>
        <h4>Terms and Conditions Governing Use of Rv Cabs Booking Services</h4>
        <ol class="ol_number">
          <li>All Customers booking / using the services of Rv Cabs through Call Centre or Website or Any application or
            Street Pick-up or Booking made at Airport Parking exclusively bound and governed by this terms and
            conditions as published on the designated website of the company i.e. </li>
          <li>The customer shall pay the Taxi fare as per prevailing tariff, parking charges, additional night surcharge
            (where applicable) and any fee or levy presently payable or hereinafter imposed by the law or required to be
            paid for availing of the taxi services. The toll charges will be payable by customer as applicable, only
            when the customer is travelling in Rv Cabs and crosses the toll post</li>
          <li>The Customer agrees and acknowledges that the use of the services offered by Rv Cabs is at the sole risk
            of the Customer and that Rv Cabs disclaims all representations and warranties of any kind, whether express
            or implied as to condition, suitability, quality, merchantability and fitness for any purposes are excluded
            to the fullest extent permitted by law.</li>
        </ol>
      </div>
      <br>
      <div>
        <h4>Without Prejudice to the above, Rv Cabs makes no representation or warranty that</h4>
        <br>
        <ol class="a">
          <li>The service will meet your requirements;</li>
          <li>The service will be uninterrupted, timely, secure, or error-free.</li>
        </ol>
        <ol class="ol_number">
          <li>Rv Cabs shall not be jointly or severally held responsible or liable for any loss or damage, however
            caused or suffered by the Customer arising out of the use of Taxi service offered by Rv Cabs or due to the
            failure of Rv Cabs to provide services to the Customer for any reason whatsoever including but not limited
            to the Customer's non-compliance with the services' recorded voice instructions, malfunction, partial or
            total failure of any network terminal, data processing system, computer tele-transmission or
            telecommunications system or other circumstances whether or not beyond the control of Rv Cabs or any person
            or any organization involved in the above mentioned systems.</li>
          <li>Without prejudice to the above, Rv Cabs shall not be joint and/or severally held liable for any direct or
            indirect loss or damage which may be suffered by the Customer as a result of any failure by Rv Cabs to
            provide a Taxi to the Customer within any stipulated time even if Rv Cabs has agreed to so provide the Taxi
            or even if the Customer has advised Rv Cabs of the possibility that any such loss or damage would result if
            the Taxi is not provided at all or within the stipulated time</li>
          <li>The Customer shall indemnify Rv Cabs from and against and in respect of any or all liabilities, losses,
            charges and expenses (including legal fees and costs on a full indemnify basis) claims, demands, actions and
            proceedings which Rv Cabs may incur or sustain directly or indirectly from or by any reason of or in
            relation to the use or purposed use of the Services by the Customer and shall pay such sums on deman</li>
          <li>Rv Cabs is hereby authorized to use the location based information provided by any of the
            telecommunication companies when the Customer uses the mobile phone to make a Taxi booking. The location
            based information will be used only to facilitate and improve the probability of locating a Taxi for the
            Customer</li>
          <li>Rv Cabs shall be entitled to disclose to all of its group companies or any of its authorized chauffeurs or
            any government body as so required by the law or by directive or request from such government body or any
            third party, the particulars of the Customer in the possession of Rv Cabs in any way as Rv Cabs , in its
            absolute discretion, deems fit or if it considers it in its interests to do so.</li>
          <li>Rv Cabs shall be entitled at any time without giving any reason or prior notice to terminate / cancel the
            booking of Taxi done by the Customer.</li>
          <li>Rv Cabs encourages all its customers to take full responsibility of his/her items. In case of lost items
            inside the Taxi during the journey, Rv Cabs will try to locate the items on a "best-effort" basis but is not
            responsible for the same in case of loss or damage to the same.</li>
          <li>If the Customer leaves any goods in the Taxi or has any complaint in respect of the services or the use of
            the Taxi, the Customer has to inform Rv Cabs of the same in writing within 24hours of using the Taxi or the
            services of Rv Cabs .</li>
          <li>The courts of Hyderabad, India shall have the sole and exclusive jurisdiction in respect of any matters
            arising from the use of the services offered by Rv Cabs or the agreement or arrangement between Rv Cabs and
            the Customer.</li>
          <li>Rv Cabs shall be entitled to add to, vary or amend any or all these terms and conditions at any time and
            the Customer shall be bound by such addition, variation or amendment once such addition, variation or
            amendment are incorporated into these terms and conditions at website i.e. on the date that Rv Cabs may
            indicate that such addition, variation or amendment is to come into effect</li>
          <li>All the calls made to our call centre are recorded by us for quality and training purposes</li>
          <li>The company shall not be liable for any loss / damages caused due to use of any devices installed in the
            taxi and the passenger will be solely responsible for the same</li>
          <li>Rv Cabs will make every effort to provide the taxi to all confirmed bookings.
            <br> Rv Cabs shall not be responsible or liable for any loss or damage, howsoever caused or suffered by the
            Customer arising out of the use of Taxi service offered by Rv Cabs or due to the failure of Rv Cabs to
            provide services to the Customer for any reason whatsoever including but not limited to the Customer's
            non-compliance with the services' recorded voice instructions, malfunction, partial or total failure of any
            network terminal, data processing system, computer tele-transmission or telecommunications system or other
            circumstances whether or not beyond the control of Rv Cabs or any person or any organization involved in the
            above mentioned systems.
          </li>
          <li>Rv Cabs is liable to pay token of regret through a gift voucher worth Rs. 100/- for non-fulfilment of
            services; but not for any loss incurred directly or indirectly due to the non-services mentioned</li>
        </ol>
        <p class="ol_head_text">Without prejudice to the above, Rv Cabs shall not be liable for any direct or indirect loss or damage which
          may be suffered by the Customer as a result of any failure by Rv Cabs to provide a Taxi to the Customer within
          any stipulated time even if Rv Cabs has agreed to so provide the Taxi or even if the Customer has advised Rv
          Cabs of the possibility that any such loss or damage would result if the Taxi is not provided at all or within
          the stipulated time.</p>
        <ol class="ol_number">
          <li>The Customer shall indemnify Rv Cabs from and against and in respect of any or all liabilities, losses,
            charges and expenses (including legal fees and costs on a full indemnify basis) claims, demands, actions and
            proceedings which Rv Cabs may incur or sustain directly or indirectly from or by any reason of or in
            relation to the use or purposed use of the Services by the Customer and shall pay such sums on demand.</li>
          <li>Rv Cabs will not be responsible for servicing the booking in case of 'Customer No Show' or 'Customer
            Cancellation'.</li>
          <li>Non service means, not able to provide taxi after 'Accepting' customer's booking. If the customer's
            booking is not accepted, at the time of initial contact for taxi booking, it will not be considered as
            non-service & the company will not be liable for any token of regret. Rv Cabs will investigate the reasons
            of non-service internally & respond accordingly. The final discretion on all matters related to the token of
            regret shall rest with the Rv Cabs .</li>
          <li>Privilege / gift voucher are subject to the respective terms & conditions, if any.</li>
          <li>All terms and conditions are subject to the laws of India. The disputes, if any, will be subject to
            exclusive jurisdiction of the Courts in Hyderabad.</li>
          <li>Rv Cabs shall not be responsible for any loss of communication / information of status update & benefits
            under the program. All this information will be send on mobile number &/or email ID registered with Rv Cabs
            . Rv Cabs will not be responsible for appropriateness of mobile or email or any other communication medium.
            The customer shall be responsible for immediately reporting the errors, if any, occurred in the information
            sent to the customer regarding booking confirmation.</li>
          <li>Any information sent by Rv Cabs will be sent only to the mobile numbers/e-mail ids registered on the
            website of Rv Cabs or call centre and Rv Cabs will not be responsible for any change in the mobile
            number/e-mail ids which have not been updated on the website by the customer.</li>
          <li>The customer must book Rv Cabs taking into account the check-in time and Rv Cabs will not be responsible
            for any delays on account of traffic jams and also if the customer is not ready at the time of arrival of Rv
            Cabs .</li>
          <li>Rv Cabs is authorized to use customer information captured in Rv Cabs ’ system for communication purpose.
          </li>
          <li>Rv Cabs is not responsible for performance, quality and claims of any 3rd party product &/or services
            offered in the Rv Cabs , if any.</li>
          <li>Rv Cabs reserve the right to publish information of beneficiaries of any program, offer, scheme or any
            promotion.</li>
        </ol>
      </div>
    </div>
  </div>
</section>
