.heading{
    font-weight:bold;
    font-size:20px;
    text-align: initial!important;
}
p{
    text-indent: 50px;
    text-align: justify;
}
.a{
    margin-left: 4em;
    list-style-type: decimal!important;
}
.privacy_content{
    text-align: justify;
}
