<app-login-navbar></app-login-navbar>
<section class="banner-area relative main-seaction" id="home">
    <div class="overlay overlay-bg"></div>
    <div id="page-loading" [hidden]="!loading">
        <div class="loader">
            <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
        </div>
    </div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-7 col-md-6 col-sm-12 ">
                <h6 class="text-white ">the Royal Essence of Journey</h6>
                <h1 class="text-white text-uppercase"> Relaxed Journey Ever </h1>
                <p class="pt-20 pb-20 text-white"> Rv Cabs will provide you the best way to travel to your destination whether its city taxi, outstation trips or a car rental. </p>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-12 header-right">
                <h4 class="text-white pb-30">Login</h4>
                <h6 class="text-white pb-30">Flexible timing, its you who decide when you hit the road!</h6>
                <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
                    <div class="from-group">
                        <input class="form-control txt-field" ngModel name="userName" type="tel" placeholder="Mobile  Number">
                        <input class="form-control txt-field" ngModel name="password" type="password" autocomplete="off"  required="required" placeholder="Password">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default btn-lg btn-block text-center text-uppercase" ng-disabled="!userName || !password">Login</button>
                        </div>
                    </div>
                    <h6 class="pb-10"><a class="text-warning" routerLink="/forgotPass">Forget Password <i class="fa fa-key " aria-hidden="true"></i></a></h6>
                </form>
            </div>
        </div>
    </div>
</section>
<app-login-footer></app-login-footer>