/* -------------nav bar css starts------------------ */
.navbar-light .navbar-nav .nav-link {
  color: #203b70;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: yellow;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: yellow;
}
.nav-link.active {
  -size: 18px !important;
  text-decoration: underline;
}
#navbarNavDropdown {
  z-index: 99999;
}
.bg-dark {
  background-color: #d9d9d9 !important;
}
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: yellow !important;
}