<div id="page-loading" [hidden]="!loading">
    <div class="loader">
        <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
    </div>
</div>
<div class="col-md-12 table-responsive header-board">
    <div class="tab">
        <button id="defaultOpen" class="tablinks" (click)="openTab($event, 'UpcomingRides')">Upcoming Rides</button>
        <button class="tablinks" (click)="openTab($event, 'PastRides')">Past Rides</button>
    </div>
    <div id="UpcomingRides" class="tabcontent">
        <div class="col-sm-12">
            <table id="upComeingDataTable" class="display" style="width: 100%;"></table>
        </div>
    </div>
    <div id="PastRides" class="tabcontent">
        <div class="col-sm-12">
            <table id="pastRidesDataTable" class="display" style="width: 100%;"></table>
        </div>
    </div>
</div>
