<div class="col-md-12 table-responsive header-board">
    <div class="tab">
        <button id="defaultOpen" class="tablinks" (click)="openTab($event, 'UpcomingRides')">Upcoming Rides</button>
        <button class="tablinks" (click)="openTab($event, 'PastRides')">Past Rides</button>
    </div>
    <div id="UpcomingRides" class="tabcontent">
        <div class="col-sm-12">
            <h1>Upcoming Rides</h1>
        </div>
    </div>
    <div id="PastRides" class="tabcontent">
        <div class="col-sm-12">
            <h1>Past Rides</h1>
        </div>
    </div>
</div>
