<div *ng-view>
  <app-errorview></app-errorview>
</div>
<ng-container *ngIf="token; else elseTemplate">
  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <app-headerbar></app-headerbar>
        <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="checkPrivateRoute; else elseLoginTemplate">
    <app-login-navbar></app-login-navbar>
    <router-outlet></router-outlet>
    <app-login-footer></app-login-footer>
  </ng-container>
  <ng-template #elseLoginTemplate>
   <app-login class="login"></app-login>
  </ng-template>
</ng-template>