<!-- <div id="page-loading" ng-show="loading" class="ng-hide">
  <div class="loader">
      <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
  </div>
</div> -->
<div *ng-view>
  <app-errorview></app-errorview>
</div>
<ng-container *ngIf="token; else elseTemplate">
  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <app-headerbar></app-headerbar>
        <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <app-login class="login"></app-login>
</ng-template>