<section class="banner-area relative main-seaction" id="home">
    <div class="overlay overlay-bg"></div>
    <div id="page-loading" [hidden]="!loading">
        <div class="loader">
            <img src="assets/img/giphy.gif" width="100" height="100" style="padding: 0">
        </div>
    </div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-7 col-md-6 col-sm-12 ">
                <h6 class="text-white ">the Royal Essence of Journey</h6>
                <h1 class="text-white text-uppercase">Relaxed Journey Ever</h1>
                <p class="pt-20 pb-20 text-white">RV cabs will provide you the best way to travel to your destination whether its city taxi, outstation trips or a car rental.</p>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-12 header-right">
                <h3 class="text-white text-center pb-10">Forgot Password</h3>
                <h6 class="text-warning text-center pb-30">Reset Your Password</h6>
                <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="submitResetPassword()">
                    <div class="from-group" [hidden]="!showMobile">
                        <input class="form-control txt-field" formControlName="userName" type="tel" placeholder="Enter Mobile  Number">
                        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="sendOtp()">Send OTP</button> <br/>
                        <h6 class="pb-10"><a class="text-warning" routerLink="/"> <i class="fa fa-arrow-left " aria-hidden="true"></i> Login </a></h6>
                    </div>
                    <div class="form-group" [hidden]="!showOtp" >
                        <input type="text" class="form-control txt-field" formControlName="OTP" placeholder="Enter OTP recvied on registered mobile number"  required>
                        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="verifyOtp()" >Verify OTP</button>
                    </div>
                    <div [hidden]="!otpCorrect">
                        <div class="form-group">
                            <input  #rePasswordField id="rePasswordField" type="password" class="form-control txt-field " formControlName="rePassword" name="userPassword"   placeholder="Enter New Password" required="required" maxlength="20" />
                            <div toggle="#login-password" class="fa fa-fw fa-eye field-icon toggle-password pull-right" (click)="rePasswordField.type=rePasswordField.type=='password'?'text':'password'" style="position: relative;right:3px;bottom: 38px;"></div>
                         </div>
                         <div class="form-group">
                            <input  #reConformPasswordField id="rePasswordField" type="password" class="form-control txt-field " formControlName="reConformPassword" name="reConformPassword"   placeholder="Re Enter New Password" required="required" maxlength="20" />
                            <div toggle="#login-password" class="fa fa-fw fa-eye field-icon toggle-password pull-right" (click)="reConformPasswordField.type=reConformPasswordField.type=='password'?'text':'password'" style="position: relative;right:3px;bottom: 38px;"></div>
                         </div>
                         <div  class="from-group">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Reset Password</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>