.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
    text-align: left;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
    margin: 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */

.nav-menu a {
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 14px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.menu-has-children ul li a {
    padding: 4px 10px !important;
    text-transform: uppercase !important;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #fab700;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 16px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
}

@media (max-width: 960px) {
    #mobile-nav-toggle {
        display: inline;
    }

    #nav-menu-container {
        display: none;
    }
}

/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #fab700;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #fab700;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

.section-gap {
    padding: 120px 0;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    margin-bottom: 20px;
}

.section-title p {
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width: 991.98px) {
    .section-title p br {
        display: none;
    }
}

.primary-btn {
    background-color: #fab700;
    line-height: 42px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}

.primary-btn:focus {
    outline: none;
}

.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:hover {
    color: #fab700;
    background-color: transparent;
    border-color: #fab700;
}

.primary-btn.white {
    border: 1px solid #fff;
    color: #fff;
}

.primary-btn.white span {
    color: #fff;
}

.primary-btn.white:hover {
    background: #fff;
    color: #fab700;
}

.primary-btn.white:hover span {
    color: #fab700;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.banner-area {
    background: url(/../assets/img/HomePage.jpg) center;
    background-size: cover;
    height: 530px;
}

.banner-area .overlay-bg {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    .fullscreen {
        height: 100% !important;
    }
}

.banner-content {
    text-align: left;
}

.banner-content h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1em;
    margin-top: 20px;
}

.banner-content h1 span {
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .banner-content h1 {
        font-size: 36px;
    }
}

@media (max-width: 991.98px) {
    .banner-content h1 br {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .banner-content h1 {
        font-size: 45px;
    }
}

@media (max-width: 480px) {
    .banner-content h1 {
        font-size: 21px;
    }
}

.banner-content h6 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 1280px) {
    .banner-content br {
        display: none;
    }
}

@media (max-width: 763px) {

    .banner-content h6,
    .banner-content p,
    .banner-content a {
        display: none;
    }

    .banner-content h1 {
        text-align: center;
        padding-top: 0px;
        display: block !important;
    }
}

.header-right {
    background-color: rgba(32, 46, 69, 0.4);
    border: 1px solid #4b5263;
    padding: 15px 30px;
    margin-top: 100px;
}

@media (max-width: 413px) {
    .header-right {
        padding: 20px;
    }
}

.header-right .default-select .nice-select {
    width: 100%;
    border-radius: .25rem;
}

.header-right .form-control {
    font-size: 14px;
    padding: 0.575rem 0.75rem;
}

.header-right .input-group-text {
    margin-right: 0;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    background: #fff;
    border-color: #fff;
}

.header-right .txt-field {
    margin-bottom: 1rem;
}

.header-right .lnr {
    color: #222;
}

.header-right .dates {
    padding: 0.530rem 0.75rem;
}

@media (max-width: 767px) {
    .header-right .wrap-left {
        padding-right: 15px !important;
    }

    .header-right .wrap-right {
        padding-left: 15px !important;
    }

    .header-right .dates-wrap {
        margin-top: 1rem;
    }
}

.header-right .btn-lg {
    font-size: 14px;
    color: #fff;
    background-color: #fab700;
}

@media (max-width: 480px) {
    .header-right {
        margin: 15px;
    }
}
