<html ng-app="feedbackFrom">
<head>
    <meta name="author" content="rvCabs, rvCabs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./feedback/css/feedback.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="./assets/js/angular.js"></script>
    <script src="./assets/js/angular-animate.js"></script>
    <script src="./assets/js/ui-bootstrap-tpls-1.3.2.js"></script>
    <base href="/feedback.html">
</head>
<script>
 (function(){
        var moduleName="feedbackFrom",
            required=[
            'ngAnimate', 
            'ui.bootstrap'
            ],
        myModule=null;
        myModule = angular.module(moduleName,required)
        // this config for url 
        myModule.config(function($locationProvider){
            $locationProvider.html5Mode(true);
        })
        // This is creating syntax for creating controller in angular js
        myModule.controller("AppCtrl",['$scope', '$location','$http',
        function($scope,$location,$http){
            // This is syntax for write the business logic inside the controller 
            $scope.rate = 0;
            $scope.max = 5;
            $scope.loading=false;
            $scope.isReadonly = false;       
            $scope.hoveringOver = function(value) {
              $scope.overStar = value;
              $scope.percent = 100 * (value / $scope.max);
            };
            $scope.ratingStates = [
              {stateOn: 'glyphicon-ok-sign', stateOff: 'glyphicon-ok-circle'},
              {stateOn: 'glyphicon-star', stateOff: 'glyphicon-star-empty'},
              {stateOn: 'glyphicon-heart', stateOff: 'glyphicon-ban-circle'},
              {stateOn: 'glyphicon-heart'},
              {stateOff: 'glyphicon-off'}
            ];
            $scope.arrayCheckbox=[
                "The driver was very polite",
                "The car Ambience was nice",
                "Car conditions are good",
                "The driving skills are very professional"
            ]
            $scope.feedback="";
            $scope.array=[];
            $scope.submitFeedback= function(){
                const { tripId }=$location.search(); 
                if(tripId){
                    let feedbackMessage="";
                    $scope.array.map((key,item)=>{ feedbackMessage=feedbackMessage+","+$scope.arrayCheckbox[item]; });
                    feedbackMessage=feedbackMessage+","+$scope.feedback;
                    let bodyData={
                        "tripId":tripId,
                        "rating": $scope.rate,
                        "feedBack":feedbackMessage,
                    }
                    postFeedback(bodyData);
                }
            }
            // this will submit your feedback data
            postFeedback=(bodyData)=>{
                $scope.loading=true;
                $http.post("http://103.224.240.187:9001/public/feedback", bodyData)
                .then(
                    (response)=>{
                        $scope.loading=false;
                        alert("Your feedback submited successfully......!");
                    },
                    (error)=>{
                        $scope.loading=false;
                        console.error("Error : ",error);
                        alert("Something went worng...!");
                    }
                );
            }
        }])
}())
</script>
<body ng-controller="AppCtrl as app">
    <div class="d-flex justify-content-center ">
        <div class="card bg-light" style="width: 90%;height: auto;margin-top: 6%;">
            <div class="card-header"> <h3>Customer Feedback</h3> </div>
            <div class="card-body" style="font-size: 14px;">
                <form >
                    <div>
                        <uib-rating ng-model="rate" style="font-size: xx-large;" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                    </div>
                    <span ng-repeat="(index,item) in arrayCheckbox">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" ng-model="array[index]" id="blankCheckbox" value="{{item}}">
                            <label class="form-check-label">{{item}}.</label>
                        </div>
                    </span>
                    <div>
                        <textarea id="subject" ng-model="feedback" name="subject" placeholder="Enter your feedback..."  style="height:200px"></textarea>
                    </div>
                    <div ng-if="loading">
                        <div style="margin-top: 15;" class="loader"></div>
                    </div>
                    <div style="margin-top: 15;" ng-else ng-show="!loading">
                        <button type="submit" style="font-size: 14px;" ng-click="submitFeedback()" class="btn btn-success">Submit your feedback</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>